.icons{
    margin-top: 275px;
    align-items: center;
    justify-content: center;
    display: flex;
}
.imgs{
    height:128px;
    width:128px;
    padding: 30px;
    transition: 0.4s;
}
.icons a{
    transition: 0.4s;

}
.icons a:hover{
    transform: scale(1.075);
}

.github img:hover{
    src: url("Assets/githubinv.png");
}