.icons {
    margin-top: 20%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.imgs {
    height: 128px;
    width: 128px;
    padding: 30px;
    transition: 0.4s;
}

.icons a {
    transition: 0.4s;
    display: flex;
}

.icons a:hover {
    transform: scale(1.075);
}

header{
    position: fixed;
    width: 100%;
  }