
.intro{
    padding: 17px;
    background-color:rgba(128,128,128,0.4);
    color: rgb(80, 80, 80);
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    text-align: center; 
    width: 70%;
    margin: 0 auto;
    margin-top: 10%;
    display: flex;
    justify-content: center;
    border-radius: 20px;
    transition: 0.5s;
    flex-wrap: wrap;
}
.intro:hover{
    transform: scale(1.025);
    box-shadow: 4px 4px 0.8px rgba(0, 0, 0, 0.64);
}
    


.imagearea{
    background-color: white;
    border-style: solid;
    border-radius: 20px;
    border-color: grey;
    border-width: 2px;
    padding: 5px;
}
.imagearea img{
    padding: 10px;
    border-radius:20px;
    max-width: 100%-10px;
    max-height: 100%-10px;
    object-fit:fill;
    /* filter: grayscale(0.66); */
}


.textarea{
    padding: 2%;
}
.textarea span{
    color: rgb(52, 52, 52);
    font-size:20px;
}
.textarea a{
    text-decoration: none;
    color: inherit;
}
.textarea p{
    flex-wrap: wrap;
}

header{
    position: fixed;
    width: 100%;
  }